-content_for :title do
  Welcome!

- if @user.password_set?
  %p
    %strong
      Hello
      = @user.formal_name.strip + "."
    Thank you for confirming your email address.

  = render "users/after_confirmation", user: @user

- else
  = render "users/password_required", user: @user
